@model List<OrcamentoCabecalhoModel>

<div class="row mt-3">
    <div class="col-12 col-sm-12">
        <div class="table-responsive-sm">
            <table id="tbl" class="table table-sm table-bordered table-striped table-hover">
                <thead>
                    <tr class="text-center">
                        <th class="col-auto">ID</th>
                        <th class="col-4">Cliente</th>
                        <th class="col-2">Data</th>
                        <th class="col-2">Status</th>
                        <th class="col-2">Valor Total</th>
                        <th class="col-auto">#</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.OrderByDescending(x => x.DataOrcamento))
                    {
                        <tr>
                            <td class="text-start">@item.ID.Value</td>
                            <td class="text-start">@item.Cliente</td>
                            <td class="text-center">@item.DataOrcamento.ToShortDateString()</td>
                            <td class="text-center">
                                @if (item.StatusID == 1)
                                {
                                    <span class="badge bg-warning fs-6">Rascunho</span>
                                }
                                else if (item.StatusID == 2)
                                {
                                    <span class="badge bg-success fs-6">Gerado</span>
                                }
                                else if (item.StatusID == 3)
                                {
                                    <span class="badge bg-danger fs-6">Cancelado</span>
                                }
                            </td>
                            <td class="text-end">@item.ValorTotal.ToString("N2")</td>
                            <td class="text-center">
                                <form name="frm-visualizar-orcamento">
                                    <input type="hidden" name="id" value="@item.ID" />
                                    <button type="submit" class="btn btn-sm btn-outline-secondary mx-0 my-1 text-nowrap w-100">
                                        <i class="fa-solid fa-file-invoice me-2"></i>Visualizar
                                    </button>
                                </form>
                                @if (item.StatusID == 1)
                                {
                                    <a class="btn btn-sm btn-outline-primary mx-0 my-1 text-nowrap w-100" asp-controller="Orcamento" asp-action="Cadastro" asp-route-id="@item.ID">
                                        <i class="fa fa-pencil me-2" aria-hidden="true"></i>Editar
                                    </a>
                                    <form name="frm-orcamento-descartar">
                                        <input type="hidden" name="id" value="@item.ID" />
                                        <button type="submit" class="btn btn-sm btn-danger mx-0 my-1 text-nowrap w-100">
                                            <i class="fa-solid fa-trash me-2"></i>Descartar
                                        </button>
                                    </form>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    document.querySelectorAll('form[name="frm-visualizar-orcamento"]').forEach((frm) => {
        frm.addEventListener('submit', (evt) => {
            evt.preventDefault();
            let form = $(evt.currentTarget).serializeArray();

            $.ajax({
                method: "POST",
                url: '@Url.Action("Visualizar", "Orcamento")',
                data: form,
                xhrFields: {
                    responseType: 'blob'
                }
            }).done(function (data, status, xhr) {
                let blob = new Blob([data], { type: 'application/pdf' });
                let blobUrl = URL.createObjectURL(blob);
                window.open(blobUrl, '_blank');
            }).fail(function () {

                Swal.fire({
                    icon: 'error',
                    title: 'Erro',
                    text: 'Não foi possível gerar o orçamento!',
                    showClass: {
                        popup: 'animate__animated animate__fadeInDown'
                    },
                    hideClass: {
                        popup: 'animate__animated animate__fadeOutUp'
                    }
                });

            });

        });
    });
</script>
