@model DashboardViewModel

@{
    ViewData["Title"] = "Dashboard";
}

<style>
    .table-wrapper {
        overflow-y: auto;
        max-height: 250px; /* ajuste conforme necessário */
    }

    .table-fixed-header {
        border-collapse: collapse;
        width: 100%;
    }

        .table-fixed-header thead {
            position: sticky;
            top: 0;
            background-color: #fff;
            z-index: 2;
        }

        .table-fixed-header th,
        .table-fixed-header td {
            padding: 0.5rem; 
        }

    /* Para navegadores baseados em WebKit (Chrome, Edge, Safari) */
    .table-wrapper::-webkit-scrollbar {
        width: 6px; /* largura da barra */
        height: 6px; /* para scroll horizontal, se houver */
    }

    .table-wrapper::-webkit-scrollbar-track {
        background: transparent;
    }

    .table-wrapper::-webkit-scrollbar-thumb {
        background-color: #ccc;
        border-radius: 4px;
    }

        .table-wrapper::-webkit-scrollbar-thumb:hover {
            background-color: #999;
        }

    /* Para Firefox */
    .table-wrapper {
        scrollbar-width: thin; /* 'auto' | 'thin' | 'none' */
        scrollbar-color: #ccc transparent; /* thumb | track */
    }
</style>

<div id="cabecalho" class="row g-2 mb-4">
    <partial name="_CardsCabecalho" model="@Model.Header" />
</div>

<div id="graficos-pedidos">
    <partial name="_GraficosPedidos" model="@Model.Graficos"/>
</div>

<div class="row g-2">
    <div class="col-12 col-lg-8">
        <partial name="_TabelasPedidos" model="@Model.UltimosPedidos" />
    </div>
    <div class="col-12 col-lg-4">
        <partial name="_Rankings" model="@Model.Ranking" />
    </div>
</div>


@section Scripts {
    <script src="~/js/graficos/pizza.js" asp-append-version="true"></script>
    <script src="~/js/graficos/barra.js" asp-append-version="true"></script>

    <script>
        $(function () {
            inicializarGrafico();

            $('input[name="visao"]').on('change', function () {
                atualizarGraficoPizza();
                atualizarGraficoBarra();
            });
        });

        // Animação na barra de progresso
        $(window).on('load', function () {
            $('.progress-bar-animated-custom').each(function () {
                const percent = $(this).data('progress');
                if (percent) {
                    $(this).css('width', percent + '%');
                }
            });
        });

        $('#filtroStatusPedido').on('change', function () {
            const statusSelecionado = $(this).val();

            $('#tbodyPedidos tr').each(function () {
                const status = $(this).data('status');
                if (statusSelecionado === 'todos' || status === statusSelecionado) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        });

        function inicializarGrafico() {
            atualizarGraficoPizza();
            atualizarGraficoBarra();
        }

        function atualizarGraficoPizza() {
            const visao = $('input[name="visao"]:checked').val();
            const $fig = $('#grafico-pizza');

            const status = $fig.data(`status${capitalize(visao)}`);
            const quantidade = $fig.data(`quantidade${capitalize(visao)}`);

            fn_graf_pizza('grafico-pizza', status, quantidade);
        }

        function atualizarGraficoBarra() {
            const visao = $('input[name="visao"]:checked').val();
            const $fig = $('#grafico-barra');

            const label = $fig.data(`label${capitalize(visao)}`);
            const fat = $fig.data(`fat${capitalize(visao)}`);
            const metas = $fig.data(`metas${capitalize(visao)}`);

            fn_graf_barra('grafico-barra', label, fat, metas);
        }

        $('body').on('submit', 'form[id^="frm-pedido-visualiza-"]', function (evt) {
            evt.preventDefault();

            let formData = $(this).serialize();
            let url = "@Url.Action("VisualizarPedido", "Pedido")";

            $.ajax({
                method: "POST",
                url: url,
                data: formData
            }).done(function (result) {
                $('#visualizar-pedido').empty();
                $('#visualizar-pedido').html(result);

                let modalVisualizaPedido = new bootstrap.Modal('#modal-visualiza-pedido');
                modalVisualizaPedido.show();
            });
        });
    </script>
}