@model List<ClienteModel>

<div class="row mt-3">
    <div class="col-12 col-sm-12">
        <div class="table-responsive-sm">
            <table id="tbl" class="table table-sm table-bordered table-striped table-hover">
                <thead>
                    <tr class="text-center">
                        <th class="col-6">Nome</th>
                        <th class="col-1">Tipo</th>
                        <th class="col-2">Documento</th>
                        <th class="col-2">Telefone</th>
                        <th class="col-1">#</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.OrderBy(x => x.Nome))
                    {
                        <tr>
                            <td class="text-start">@item.Nome</td>
                            <td class="text-center">@item.Tipo</td>
                            <td class="text-start">@item.Documento</td>
                            <td class="text-start">@item.Telefone</td>                            

                            <td class="text-center">
                                <a class="btn btn-sm btn-outline-primary mx-0 my-1 text-nowrap w-100" asp-controller="Cliente" asp-action="Cadastro" asp-route-id="@item.ID">
                                    <i class="fa fa-pencil me-2" aria-hidden="true"></i>Editar
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>