@model List<RelFaturamentoProdutoModel>

<div class="col-12">
    <hr class="my-2">
</div>

<div class="col-sm-12 mt-2">
    <div class="alert alert-light shadow py-0" role="alert" style="height: 60px;">
        <div class="d-flex justify-content-between align-items-center h-100">
            <div class="fs-5"><b>Produtos Vendidos:</b> @Model.Count()</div>
            <div class="fs-5"><b>Total de Produtos Vendidos:</b> @Model.Sum(x => x.Quantidade)</div>
            <div class="fs-5"><b>Total Faturado:</b> @Model.Sum(x => x.ValorFaturado).ToString("N2")</div>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col-12 col-sm-12">
        <div class="table-responsive-sm">
            <table id="tbl" class="table table-sm table-bordered table-striped table-hover">
                <thead>
                    <tr class="text-center">
                        <th class="col-8">Produto</th>
                        <th class="col-2">Quantidade</th>
                        <th class="col-2">Valor Faturado</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var prod in Model.OrderByDescending(x => x.ValorFaturado))
                    {
                        <tr>
                            <td class="text-start">@prod.Produto</td>
                            <td class="text-end">@prod.Quantidade.ToString("N0")</td>
                            <td class="text-end">@prod.ValorFaturado.ToString("N2")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>